:root{
    --color-bg:#043749;
    --color-text:#A1B5BB;
    --color-buton:#145E76;
    --color-yellow:#FFA63A;
    --color-p:#757575;
        
$carousel-color: #ffa800;
$control-transition-time: 0.5s;
}