@charset "UTF-8";
@import 'variables';
@import 'fonts';
@import 'general';
@import 'container';
@import 'footer';
@import 'header';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root{
    font-family: 'Inter', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');


.hero{
    padding: 160px 0px 316px 0px;
    background-color: var(--color-bg);
    h1{
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        color: white;
        margin: 40px 0px 30px 0px;
    }
    .hero-button{
      padding: 16px 30px;
      background-color: #094556;
      border: none;
      margin: 0 auto;
      font-family: 'Schoolbell', cursive;
      border-radius: 30px;
      color: white;
    }
    .hero-button1{
        padding: 16px 35px;
        background-color: var(--color-yellow);
        color: white;
        border: none;
        border-radius: 30px;
    }
    p{
        color: var(--color-text);
    }  
    img{
        width: 100%;
    }
}
.statistika {
    padding: 78px 218px;
    color: var(--color-bg);
    background: #FFFFFF;
     box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    height: 350px;
    margin-top: -150px;
    .statistika__h2 {
        font-weight: 700;
      }
  }

#service{
    // text-align: center;
    padding: 200px 0px 200px 0px;
    .servis__p{
        font-family: 'Schoolbell';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 22px;
        color: var(--color-bg);
        text-align: center;
     }
     
    .servis__h3{
        font-weight: 600;
        font-size: 45px;
        line-height: 60px;
        color: var(--color-bg);
        max-width: 500px;
        text-align: center;
        margin-bottom: 70px;
    }
    .box1{
        box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
        background-color: white;
    }
    .box {
        p{
            color: var(--color-p);
        }
        h4{
            margin: 25px 0px 10px 0px;
        }
    }
    .box:hover{
        .box1{
            background-color: var(--color-bg);

        }
        h4{
            color: white;
        }
        p{
            color: var(--color-text);
        }
    }
}
#portfolio{
    .portfolio__h3{
        font-weight: 600;
        font-size: 45px;
        line-height: 56px;
       color: var(--color-bg);
    }
    .portfolio__p{
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: var(--color-p);
        max-width: 600px;
    }
    a{
        color: var(--color-bg);
    }
    .portfolio__h4{
        font-weight: 600;
        font-size: 30px;
        line-height: 29px;
        color: var(--color-bg);
        margin: 40px 0px 10px 0px;
    }
    .--p-t{
        max-width: 400px;
    }
    a:hover{
        color: var(--color-yellow);
    }
    .portfolio__img{
        width: 100%;
    }

}
#about{
    padding: 192px 0px;
    .about__images{
        width: 100%;
    }
   
    img{
       padding-bottom: 40px; 
    }
    background-color: var(--color-bg);
    .carousel-p{
        color: white;
    }
    .carousel-p1{
        color: var(--color-p);
    }
    .c-bg{
        width: 60px;
        height: 60px;
        top: 200px;
        border-radius: 50%;
        background-color: #094556;
    }
    .c-bg:hover{
        background-color: #07242c;
    }
    .l-bg {
        margin-left: -300px;
    }

}
#blog{
    img{
        width: 100%;
    }
    padding: 100px 0px;
    h4{
        font-weight: 600;
        font-size: 35px;
        line-height: 45px;
        color: var(--color-bg);
        margin: 40px 0px 20px 0px;
    }
    p{
        color: var(--color-p);
    }
    a{
        color: var(--color-p);
        padding: 12px 26px;
        border: none;
        border-radius: 30px;
    }
    a:hover{
        color: var(--color-yellow);
        background-color:  #FFF8EB;
    }
    h2{
        max-width: 220px;
        font-weight: 600;
        font-size: 45px;
        line-height: 60px;
        color: var(--color-bg);
    }
    p{
        padding: 20px 0px 76px 0px;
        max-width: 330px;
    }
    button{
        padding: 16px 29px;
        background-color: var(--color-yellow);
        color: white;
        border: none;
        border-radius: 30px;
    }
    button:hover{
        background-color:#d2730e;
    }
}

#carousel {
  .carousel-item {
    img {
      height: 500px;
      object-fit: cover;
    }
  }
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
  }
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }
  .container {
    padding: 0;
  }

  .carousel-control {
    &-prev,
    &-next {
      top: auto;
      bottom: auto;
      bottom: 0;
      width: 50px;
      height: 50px;
      border: 1px solid $carousel-color;
      border-radius: 50%;
      opacity: 1;
      transition: $control-transition-time;
      &:hover {
        background-color: $carousel-color;
      }
    }
    &-prev {
      left: calc(50% + 100px);
      @media screen and (max-width: 768px) {
        top: 15px;
        right: 85px;
        left: auto;
      }
      &:hover > .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
      }
      &-icon {
        transition: $control-transition-time;
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
      }
    }
    &-next {
      left: calc(50% + 180px);
      @media screen and (max-width: 768px) {
        top: 15px;
        right: 15px;
        left: auto;
      }
      &:hover > .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
      }
      &-icon {
        transition: $control-transition-time;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
      }
    }
  }
}

/* .carousel-container {
  background-color: #555;
} */



@media screen and  (max-width:1000px){
    .container{
     max-width:800px;
     padding: 0px 10px;
    }
    .hero{
        padding: 100px 0px;
        .hero__row{
            flex-direction: column-reverse;
        }
        .hero-images{
            justify-content: center;
          
        }
        .hero__produc{
            margin-top: 100px;
        }
       
    }
    #service{
        padding: 100px 0px;
    }
    .statistika {
        padding: 30px;
        margin-top: -80px;
        height: 200px;
      }
}
        





